html, body {
    height: 100%;
}
body {
    margin: 0;
    display: flex;

    justify-content: center;

    align-items: center;
    position: absolute;
    bottom: 0px;
}
#score {
    position: absolute;
    text-align: center;
    top: 2.5%;
    left: 5em;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 200%;
    color: white;
    z-index: 10;
    width: 400px;
}
canvas {
    position: absolute;
    left: 0%;
    bottom: 0px;
}